@tailwind base;
@tailwind components;
@tailwind utilities;

.game-table {
    width: 800px;
}

.rubik-font-dropdown {
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.rubik-font-tooltip {
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@keyframes rollout {
    0% {
        transform: rotateX(180deg);
    }
    100% {
        transform: none;
    }
}

.roll-out {
    animation: rollout 1s;
}
